body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik", "Helvetica Neue", arial, sans-serif;
  background: #101010;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #cccccc;
}

a {
  background-color: transparent;
  color: #f2c94c;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
