body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik", "Helvetica Neue", arial, sans-serif;
  background: #101010;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #cccccc;
}

a {
  background-color: transparent;
  color: #f2c94c;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

p {
  letter-spacing: 0.05em;
  line-height: 1.8em;
  color: #eeeeee;
}

input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input:not([type="submit"]):focus,
select:not([type="submit"]):focus,
textarea:not([type="submit"]):focus {
  border: 5px solid #f2c94c;
}

::placeholder {
  color: #aaaaaa;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #aaaaaa;
}

::-ms-input-placeholder {
  color: #aaaaaa;
}
