@import url('https://fonts.googleapis.com/css?family=Overlock:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
}

input {
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
